<!DOCTYPE html>
<html>
<head>
    <script src="../static/js.js"></script>
    <meta charset="UTF-8">
    <title>GPT-2 Audience</title>
</head>
<body>
    <pre>
  /$$$$$$  /$$$$$$        /$$$$$$                  /$$ /$$
 /$$__  $$|_  $$_/       /$$__  $$                | $$|__/
| $$  \ $$  | $$        | $$  \ $$ /$$   /$$  /$$$$$$$ /$$  /$$$$$$  /$$$$$$$   /$$$$$$$  /$$$$$$
| $$$$$$$$  | $$        | $$$$$$$$| $$  | $$ /$$__  $$| $$ /$$__  $$| $$__  $$ /$$_____/ /$$__  $$
| $$__  $$  | $$        | $$__  $$| $$  | $$| $$  | $$| $$| $$$$$$$$| $$  \ $$| $$      | $$$$$$$$
| $$  | $$  | $$        | $$  | $$| $$  | $$| $$  | $$| $$| $$_____/| $$  | $$| $$      | $$_____/
| $$  | $$ /$$$$$$      | $$  | $$|  $$$$$$/|  $$$$$$$| $$|  $$$$$$$| $$  | $$|  $$$$$$$|  $$$$$$$
|__/  |__/|______/      |__/  |__/ \______/  \_______/|__/ \_______/|__/  |__/ \_______/ \_______/


    </pre>
    <div style="font-size:5em; text-align:center">
        <div style="border: 1px solid blue; float: left; width 50%; padding:10px;">
            👍
            <br>
            <textarea id="positive" cols="40" rows="5"></textarea>
            <br>
            <button id="btn_positive" onclick="process(this.id)">submit</button>
        </div>
        <div style="border: 1px solid red; float: left; width 50%; padding:10px;">
            👎
            <br>
            <textarea id="negative" cols="40" rows="5"></textarea>
            <br>
            <button id="btn_negative" onclick="process(this.id)">submit</button>
        </div>
    </div>
</body>
</html>
